body{
    color: #000;
font-family: 'ABeeZee', sans-serif;
    background:#FFFFFF;

}
#intro
    {
		background: url(../images/overlay.png), url(../images/bg.jpg);
		background-size: 200px 200px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
               
                overflow-y : hidden;
	}

.left
{
    float: left; 
}
.search
{
    margin-top: 200px;
    margin-left: 50px;
    
}
.feed
{
    margin-left: 200px;
}
p{
    font-size: 16px;
    word-spacing: 5px;
    color:#587272;
    display:block;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto; 
}
.card {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin-bottom: 15px;
    margin-left: 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.card img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
a.size
{
font-size:15px;
}
.italic
{
    font-style: italic;
}
.bold
{
    font-style: oblique;
}
.img-thumb
{
width: 50px;
height:50px;
}
a.bgcolor
{
color:#ffffff;
}
.resume-right
{
	padding-top:100px;

}
.pink
{
background-color:#CC6633;
}
.blue 
{
    background-color:#3399CC;
}
.green
{
background-color:#9DCE5C;
}
.purple
{
background-color:#BC4676;
}
.yellow
{
    background-color:#fec325;
}
dt
{
font-size:12px;
text-wrap:normal;
}
dt
{
font-size:8px;
text-wrap:normal;
}

a
{
color:#000000;

}
#link_content
{
margin-top : 10px;
}
.p-resume
{
color :#000033;
}
img
{
width:300px;
height:300px;

}
.project
{ 
    background-color:#FFFFFF;
    padding-top: 100px;
    padding-left:150px;
    padding-bottom: 100px;

}

.btn-circle {
    width:100px; 
    height:100px; 
    border-radius:60px;
     -moz-border-radius: 60px; 
     -webkit-border-radius: 60px; 
     -khtml-border-radius: 60px; 
     font-size:12px; 
    position: relative;		
     text-align:center;
line-height:120px;

      }
.resumeline
{
line-height:50px;
}
.btn-smallcircle {
    width:80px; 
    height:80px; 
    border-radius:40px;
     -moz-border-radius: 40px; 
     -webkit-border-radius: 40px; 
     -khtml-border-radius: 40px; 
    font-size:12px; 
     text-align:center;
position: relative;
line-height:80px;
 }    
.bcolor
{
color:black;
background:black;
}
a.pad
{
padding-left:35px;
}
p.bluecolor
{
color:#ffffff;
}
 

	
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
h1,h2,h4,h6
{
color:#000000;
}
h5
{
    color: #bebebe;
}
h3
{
    color:#ffffff;
}
.white 
{
color:#ffffff;
}
.navbar .nav > li > a:hover{
	color: #c3c3c3;	
}

.navbar .brand{
    color: #fff;
    text-shadow: none;
    line-height: 40px;
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar .brand:hover{
    color: #c3c3c3;
}
